@font-face {
    font-family: title;
    src: url(./Fuentes/Blade.TTF);
}


@font-face {
    font-family: science;
    src: url(./Fuentes/ScienceFair.otf);
}
body{
    text-align: center;
    margin-top: 5px;
    background-color: black;
}
img {
    width: 220px;
    margin-top: -40px;
}

.titulo{
    font-family: title;
    font-size: 60px;
    color: #ff3385;
}

.titulo2{
    font-family: science;
    font-size: 50px;
    color: #ff3385;
    
}
.subtitulo{
    color: #ff3385;
    font-family: science;
    font-size: 35px;
}

.texto{
    color: #ff3385;
    font-family: science;
    font-size: 25px;
    
}


.boton{
    text-decoration: none;
    background-color: #ff3385;
    border: 6px solid brown;
    color: brown;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: arial;
    border-radius: 10px;
    
}


body{
    background-color:black;
    background-size: cover;
    background-repeat: no-repeat;

}


table{
    margin-left: 38%;
    border-collapse: collapse;
    border: 7px solid white;
    color:white;
    width: 400px;
    text-align: center;
}

th, td {
    border: 4px solid white;
    height: 25px;
    font-family: 'Orbitron', sans-serif;
    background-color: #ff3385; 
    font-family: science;
    

}
